.header{
    box-shadow:  0 2px 5px rgba(0, 0, 0, 0.26);
}
.header-inner{
    display: flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0.5em;
}

.header-logo {
    height: 72px;
    margin-right: 1em;
    vertical-align: top;
    margin-top: 12px;
}

.header__title {
    text-align: center;
    font-weight: 300;
    font-size: 3em;
    margin: 0.8em 0.25em 0 0.25em;
    display: inline-block;
    color: black;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.nav-list{
    justify-content: space-around;
    display: flex;
}

.nav-item{
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    padding: 24px;
}