.header{
    display: flex;
    justify-content: center;
    vertical-align: top;
    text-align: center;
}

.header-logo{
    height: 70px;
}

.header__title {
    text-align: center;
    font-weight: 300;
    font-size: 3em;
    margin: 0.8em 0.25em 0 0.25em;
    display: inline-block;
    color: #212121;
}